/* Общие стили */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter';
}

/* Шапка сайта */
.hero {
    background-image: url(images/main-photo.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 50px;
    height: 680px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 57px;
}

.logo a {
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    line-height: 135%;
    color: #D9D9D9;
    text-transform: uppercase;
}

.nav {
    width: 800px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.nav a {
    font-size: 16px;
    line-height: 135%;
    color: #D9D9D9;
    text-decoration: none;
}

.nav a:hover {
    color: #afafaf;
}

/* Главная */
.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 299px;
}

.main-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text h1 {
    font-size: 72px;
    font-weight: bold;
    line-height: 100%;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.main-text p {
    font-size: 24px;
    color: #fff;
    line-height: 100%;
}

.statistic {
    display: flex;
    gap: 200px;
}

.stat {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    color: #fff;
}

.num {
    font-size: 32px;
    font-weight: bold;
    line-height: 120%;
}

.name {
    font-size: 18px;
    line-height: 100%;
}

/* Основные разделы */
.razdels {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 162px;
    padding: 100px 113px;
}

.razdel {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.razdel img {
    width: 64px;
    height: 64px;
}

.razdel p {
    font-size: 18px;
    line-height: 135%;
    text-align: center;
    width: 182px;
    height: 64px;
}

/* Кому интересен автофорум */
.audience {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 21px;
    margin: 100px 130px;
    margin-top: 0;
}

.audience>h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 135%;
}

.audience-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.audience-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 280px;
    height: 180px;
    border: 4px solid #E9E9E9;
}

.audience-card img {
    width: 40px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.audience-card h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 135%;
    margin-bottom: 10px;
}

.audience-card ul li {
    color: #666;
    font-size: 14px;
    line-height: 135%;
}

/* Мероприятия */
.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}

.events h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 135%;
}

.events-card {
    height: 420px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.events-card a {
    text-decoration: none;
}

.event {
    width: 660px;
    height: 200px;
    display: flex;
    gap: 0;
}

.event-img {
    border-radius: 8px;
}

.event-text {
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: #000;
}

.event-text h3 {
    font-size: 20px;
    font-weight: bold;
    line-height: 135%;
    margin-bottom: 12px;
}

.event-text p.disc {
    font-size: 16px;
    font-weight: normal;
    line-height: 135%;
    margin-bottom: 55px;
}

.event-text p.date {
    font-size: 16px;
    font-weight: bold;
    line-height: 135%;
}

/* Новости */
.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}

.news h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 135%;
}

.news-block {
    display: flex;
    gap: 134px;
    height: 420px;
}

.news-block a {
    color: #000;
    text-decoration: none;
}

.main-news {
    width: 660px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-news h3 {
    font-size: 24px;
    font-weight: bold;
    line-height: 135%;
}

.others-news {
    width: 531px;
    height: 420px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.other-news {
    display: flex;
    align-items: center;
    gap: 30px;
}

.news-text {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.news-text p.date {
    font-size: 16px;
    font-weight: normal;
    line-height: 135%;
}

.news-text p.disc {
    font-size: 21px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: -1%;
}

/* Галерея */
.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-bottom: 100px;
}

.gallery>h2 {
    font-size: 36px;
    font-weight: bold;
    line-height: 135%;
}

.gallery-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

/* Подвал сайта */
.footer {
    background-color: #000;
    padding: 75px 180px 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 108px;
}

.links a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
    text-decoration: none;
}

.links a:hover {
    color: #afafaf;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.social-links {
    display: flex;
    gap: 8px;
}

.contacts-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.contacts-text p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}